<div class="mt-5" style="width: 20%; margin: 0 100px;">
    <form method="post" action="">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="reg" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <select class="form-select mb-3" name="gender" aria-label="Default select example">
        <option selected>Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>
